@import "tailwindcss";

@theme {
  --color-deep-twilight: #03045e;
  --color-french-blue: #023e8a;
  --color-bright-teal: #0077b6;
  --color-blue-green: #0096c7;
  --color-turquoise-surf: #00b4d8;
  --color-sky-aqua: #48cae4;
  --color-frosted-blue: #90e0ef;
  --color-frosted-blue-light: #ade8f4;
  --color-light-cyan: #caf0f8;
}

body {
  background-color: #f8fafc;
  color: #0f172a;
}
